/* ------single-good-block---------------------------- */

.single-good-block {
  width: 97.5%;
  min-height: 650px;
  border-top: 1px solid #eee;
  margin: 0 1.25%;
}

.single-good-block::after {
  content: "";
  clear: both;
  display: block;
}

.good-image {
  padding: 100px 30px 30px 30px;
  min-height: 410px;
}

.good-image img {
  max-width: 100%;
  vertical-align: middle;
}

.good-image-min div {
  width: 90px;
  height: 70px;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  padding: 8px 0;
}

.good-image-min div img {
  max-width: auto;

  height: 100%;
}

.grey {
  background: #e2e3e4;
}

.good-image-min div.active {
  background: #ff7338;
}
.block-585 {
  float: right;
  width: 57%;
  margin: 0 1.25%;
}

.block-585 h1 {
  font-family: sans-serif;
  font-weight: 800;
  color: #ff7338;
  margin: 100px 0 30px 0;
  font-size: 40px;
}

.block-585 .min-good-description {
  color: #000;
  font-size: 18px;
}

.max-good-description {
  margin: 30px 0;
  line-height: 30px;
}

.choose {
  width: 100%;
  border-top: 1px solid #e2e3e4;
  border-bottom: 1px solid #e2e3e4;
  padding: 30px 0;
}

.choose::after {
  content: "";
  clear: both;
  display: block;
}

.choose-size {
  width: 50%;
  float: left;
  text-align: left;
  border-right: 1px solid #e2e3e4;
}

.choose-size span {
  color: #000;
  font-size: 14px;
}

.choose-size .active {
  color: #ff7338;
  font-size: 18px;
}

.choose-quantity {
  width: 50%;
  float: right;
  text-align: right;
}

.choose-quantity button {
  background: none;
  border: none;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.choose-quantity .active {
  color: #ff7338;
  font-size: 18px;
}

.description::after {
  clear: both;
  content: "";
  display: block;
}

.description .price {
  min-width: 35%;
  font-size: 22px;
  font-weight: bold;
  margin-top: 50px;
  float: left;
}

.description .icons {
  min-width: 35.5%;
  margin-top: 50px;
}

.description .icons .icon-img {
  width: 22px;
  height: 22px;
  display: inline-block;
  background-image: url("../images/icons.png");
  margin: 0 15px;
}

.description .icons .map {
  background-position: 0 0;
}

.description .icons .truck {
  background-position: -49px 0;
}

.description .icons .heart {
  background-position: -103px 0;
}

.description .icons a {
  text-decoration: none;
}

.button-order {
  background: #ff7338;
  color: #fff;
  height: 50px;
  width: 135px;
  font-size: 22px;
  border: none;
  border-radius: 25px 25px 25px 25px;
  margin-top: 35px;
  float: left;
}

/* ----------Related Products----------- */

.wrap {
  background: #eee;
}

.wrap::after {
  content: "";
  clear: both;
  display: block;
}

h3 {
  color: #49525d;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 800;
  padding-top: 115px;
}

.section-description {
  font-size: 16px;
  margin-bottom: 80px;
}

/* --------------goods block-------------------------- */

.goods-block {
  margin-bottom: 80px;
}

.goods-block::after {
  content: "";
  display: block;
  clear: both;
}

.block-300 {
  width: 22.5%;
  min-height: 355px;
  margin: 0 1.25%;
  background: #fff;
  float: left;
  font-size: 18px;
}

.block-300 img {
  width: 165px;
  max-height: 220px;
  margin-top: 30px;
  min-height: 220px;
  vertical-align: middle;
}

.goods-name {
  color: #49525d;
  margin: 20px 0;
}
